amarillo_osc = #E1B800

section
	
	.modelsGrid
		height 400px
		overflow-y scroll
		padding 0.5em

		div
			text-align center
		
		.modelPhoto
			border 2px amarillo_osc solid
			height 155px	
			width 155px	

	