amarillo_osc = #E1B800

section	
	height 75%

	.modelsGrid	
		height 100%
		overflow-y scroll		

		div
			text-align center
		
		.modelPhoto
			border 2px amarillo_osc solid
			height 155px	
			width 155px	

	