morado = #2B1B4B
amarillo_osc = #E1B800
amarillo_cla = #FFDD00
azul_osc = #3C599F
azul_cla = #00ACED
rojo = #CC3333
amarillo = #FFEC00
blanco = #FFFFFF

@font-face {
    font-family: "pollapp_font";
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}

h1
	text-align center
	color amarillo_cla
	font-weight bold
	font-size 20px
	font-family "pollapp_font"
h2
	color #FFFFFF
	font-weight bold
	font-size 12px
	font-family "pollapp_font"
h3
	text-align center
	color #FFFFFF
	font-weight bold
	font-size 20px
	font-family "pollapp_font"

a 
	text-decoration none	

.grupos
	height 70%
	overflow-y scroll
	padding 0.5em

	.gri_grupos	

		h1
			text-align center
			color amarillo_cla
			font-weight bold
			font-size 20px
			font-family "pollapp_font"

		h2
			color #FFFFFF
			font-weight bold
			font-size 12px
			font-family "pollapp_font"		
			
		div
			display inline-block