morado = #2B1B4B
amarillo_osc = #E1B800
amarillo_cla = #FFDD00
azul_osc = #3C599F
azul_cla = #00ACED
rojo = #CC3333
amarillo = #FFEC00

@font-face {
    font-family: "pollapp_font";
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}

body
	background morado
	height 100%

	.fondo_log
		
		text-align center

		img
			width 250px

	
	.botones_log
		text-align center
		padding-top 5em

		.btn-facebook
			width 50px		

		.btn-twitter
			width 50px

		.btn-g
			width 50px

		.btn-entrar
			img
				width 120px
				height 40px
		
	.terminos
		a
			text-decoration none

			h1
				color white
				font-family "pollapp_font"
				font-size 16px
				text-align center
				