@font-face{font-family:"pollapp_font";src:url("../fonts/Questrial-Regular.ttf") format("truetype")}
body{background:#fff;font-size:16px;font-family:"pollapp_font";text-align:center;}
body .noti_cabecera{width:100%}
footer .footer{background:#fff}
.posts{height:410px;overflow-y:scroll;padding:.5em;}
.posts .post{background:#fff;box-shadow:2px 2px 10px rgba(0,0,0,0.5);border-radius:0 0 .5em .5em;color:#2b1b4b;margin-bottom:.5em;}
.posts .post .description{width:100%;}
.posts .post .description .details{margin-left:70px;}
.posts .post .description .details .name{color:#2b1b4b;font-size:1em;margin:0;padding:.5em .5em 0 0;text-align:left}
.posts .post .description .details .screenName{color:grisOscuro;font-size:.8em;margin:0;padding:.5em .5em 0 0;text-align:left}
.posts .post .description .details .text{margin:.5em .5em .5em 0;text-align:justify}
.posts .post .description .imagen{float:left;}
.posts .post .description .imagen img{padding:.5em 0 .5em .5em;vertical-align:top}
