morado = #2B1B4B
amarillo_osc = #E1B800
amarillo_cla = #FFDD00
azul_osc = #3C599F
azul_cla = #00ACED
rojo = #CC3333
amarillo = #FFEC00
blanco = #FFFFFF

@font-face {
    font-family: "pollapp_font";
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}

body
	background blanco
	font-size 16px
	font-family: "pollapp_font"
	text-align center

	.noticia_pri
		background amarillo_cla
		border-radius 0.5em 0.5em 0.5em 0.5em		
		font-size 15px
		padding 0.5em 0
		text-align center
		width 100%

	.noticias_list
		
		.icono_noticia
			img
				width 200px
				height 400
		.texto_noticia
			font-family: "pollapp_font"

footer
	.footer
		background blanco