@font-face{font-family:"pollapp_font";src:url("../fonts/Questrial-Regular.ttf") format("truetype")}
body{background:#fff;font-size:16px;font-family:"pollapp_font";text-align:center;}
body .noti_cabecera{text-align:center;width:100%}
footer .footer{background:#fff}
