morado = #2B1B4B
amarillo = #FFEC00
blanco = #FFFFFF
grisClaro = #D7D7D7
amarillo_osc = #E1B800

@font-face {
    font-family: "pollapp_font";
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}

body	
	font-size 16px
	font-family: "pollapp_font"		

section
	height 75%

	.noti_cabecera
		height 10%
		text-align center
		width 100%

	.posts		
		height 75%
		overflow-y scroll
		padding 0.5em

		.post	
			background white
			box-shadow 2px 2px 10px rgba(black, 0.5)
			border-radius 0 0 0.5em 0.5em
			color morado
			margin-bottom 0.5em	
			width 100%

			&:hover
				background rgba(grisClaro, 1)				
		
			.description			
				width 100%	

				.details
					margin-left 70px							

					.date
						float right
						margin 0 1em 0 0
						font-size 0.8 em

					.name
						color morado
						font-size 1 em
						margin 0
						padding 0.5em 0.5em 0 0
						text-align left

					.screenName
						color grisOscuro
						font-size 0.8 em					
						margin 0
						padding 0.5em 0.5em 0 0
						text-align left

					.text
						margin 0.5em 0.5em 0.5em 0
						text-align justify									
				
				.imagen
					float left

					img
						padding 0.5em 0 0.5em 0.5em
						vertical-align top

	.loadMore
		background morado
		text-align center
		width 100%		

		a			
			color white
			height 3%
			text-decoration none
			vertical-align middle	

