@font-face{font-family:"pollapp_font";src:url("../fonts/Questrial-Regular.ttf") format("truetype")}
body{font-size:16px;font-family:"pollapp_font"}
section{height:75%;}
section .noti_cabecera{height:10%;text-align:center;width:100%}
section .posts{height:82%;overflow-y:scroll;padding:.5em;}
section .posts .post{background:#fff;box-shadow:2px 2px 10px rgba(0,0,0,0.5);border-radius:0 0 .5em .5em;color:#2b1b4b;margin-bottom:.5em;width:100%;}
section .posts .post:hover{background:#d7d7d7;border:1px #e1b800 solid}
section .posts .post .description{width:100%;}
section .posts .post .description .details{margin-left:70px;}
section .posts .post .description .details .date{float:right;margin:0 1em 0 0;font-size:.8em}
section .posts .post .description .details .name{color:#2b1b4b;font-size:1em;margin:0;padding:.5em .5em 0 0;text-align:left}
section .posts .post .description .details .screenName{color:grisOscuro;font-size:.8em;margin:0;padding:.5em .5em 0 0;text-align:left}
section .posts .post .description .details .text{margin:.5em .5em .5em 0;text-align:justify}
section .posts .post .description .imagen{float:left;}
section .posts .post .description .imagen img{padding:.5em 0 .5em .5em;vertical-align:top}
section .loadMore{background:#2b1b4b;text-align:center;width:100%;}
section .loadMore a{color:#fff;height:3%;text-decoration:none;vertical-align:middle}
