body{width:100%;height:100%;background-image:url("../img/fondos/480x800-android-polla.png")}
.pendientes{height:70%;overflow-y:scroll;padding:.5em;}
input[type=image], img {
 border: none;
    display: inline;
    /*height: 6%;*/
    margin-left: 2%;
    vertical-align: middle;
    width: 6%;
}

span {
  color:#2D336A;    
  width: 80%;
}

span :hover{   
   background-color:#DFDFE1;
}

#myInvitations ul {
  list-style-type: none;
  margin: 0;
  padding: 5px !important;
}
 
#myInvitations ul li a {   
  text-decoration: none;
  /*color: #000;*/
  color:#2D336A;    
  padding: 5px;
}

.container_list{
    border-radius: 10px;
    width:100%;
    clear:both;
    margin: 0 auto;    
    height: auto;
    position: relative;
    /*color: #2D336A;*/
}

.div_left{
    width:65%;
    float:left;
    margin-bottom: 8px;    
}

.div_right{
    width:35%;
    float:right;    
    text-align: right;
    margin-bottom: 8px;    
}

/*.container_list :hover{    
    border-radius: 10px;
    background-color:#DFDFE1;
}*/

#myInvitations ul li{   
   height: auto;
}

/*#myInvitations ul li :hover{   
   background-color:#DFDFE1;
}*/

.btn-pendiente{
  position: relative;
  margin: 3px;
  border-radius: 50px;
  float: right;
}

.ajax-load {
  z-index:1;
  filter:alpha(opacity=60);
  float:left;
  -moz-opacity:.60;
  opacity:.60;
  /*background-color: Transparent;*/
  color:#fff;
  position:absolute;
  text-align:center;
  top:170px;
  left:0px;
  padding:0px;
  font-size:100%;
  font-weight:bold;
  width: 100%;
  height: 100%;
  display: none;
}