morado = #2B1B4B
amarillo_osc = #E1B800
amarillo_cla = #FFDD00
azul_osc = #3C599F
azul_cla = #00ACED
rojo = #CC3333
amarillo = #FFEC00

@font-face {
    font-family: "pollapp_font";
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}

body
	width 100%
	height 100%
	background-image url('../img/fondos/480x800-android-polla.png')
