morado = #2B1B4B
amarillo_osc = #E1B800
amarillo_cla = #FFDD00
azul_osc = #3C599F
azul_cla = #00ACED
rojo = #CC3333
amarillo = #FFEC00


#contenido
	
	aside
		
		border-radius (0px 0px 5px 5px)
		height 48px
		margin 0 2% 0 0
		
		transition:height 0.3s ease;
		-webkit-transition:height 0.3s ease;
		
		#aside_header
			height 35px
			padding 10px 0 0 0
			width 100%