#contenido aside{border-radius:0 0 5px 5px;height:48px;margin:0 2% 0 0;transition:height .3s ease;-webkit-transition:height .3s ease;}
#contenido aside #aside_header{height:35px;padding:10px 0 0 0;width:100%}
