morado = #2B1B4B
amarillo_osc = #E1B800
amarillo_cla = #FFDD00
azul_osc = #3C599F
azul_cla = #00ACED
rojo = #CC3333
amarillo = #FFEC00

@font-face {
    font-family: "pollapp_font";
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}

body
	font-size 16px
	font-family: "pollapp_font"
	background morado


header
	font-family: "pollapp_font"
	background morado
	box-shadow 0 3px 0 amarillo_osc
	color white
	overflow hidden
	padding 10px
	position relative
	z-index 2
	
	.cabecera
		display inline-block 

	.logo
		margin 0 auto
		padding 10px
		width 60px
		text-align center
		
		img
			width 200px
			height 400

		.poll_head
			margin 0 auto
			width 100px
	
	.titular
		
		margin 0 80px 0 70px
		
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0


footer
	padding 0.8em
	font-family: "pollapp_font"

	.footer
		background morado
		border-radius 0.5em 0.5em 0.5em 0.5em
		border 2px amarillo_osc dashed
		color amarillo
		font-size 15px
		padding 0.5em 0
		text-align center
		width 100%
		
		



