morado = #2B1B4B
amarillo_osc = #E1B800

@font-face {
    font-family: "pollapp_font";
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}

body
	font-size 16px
	font-family: "pollapp_font"
	background morado


header
	font-family: "pollapp_font"
	background morado
	box-shadow 0 3px 0 amarillo_osc
	color white
	height 7%
	overflow hidden
	padding 10px
	position relative
	z-index 2
	
	.cabecera
		display inline-block 

	.logo
		margin 0 auto
		padding 10px
		width 60px
		text-align center
		
		img
			width 200px
			height 400

		.poll_head
			margin 0 auto
			width 100px
	
	.titular
		
		margin 0 80px 0 70px
		
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0

footer
	height 10%		
	font-family: "pollapp_font"
	padding 0.8em 0 0 0
	text-align center
	background morado	

	.imgFooter
		width 100%		
		
		





