@font-face{font-family:"pollapp_font";src:url("../fonts/Questrial-Regular.ttf") format("truetype")}
h1{text-align:center;color:#fff;font-weight:bold;font-size:17px;font-family:"pollapp_font"}
.terminos{height:65%;overflow-y:scroll;padding:.5em;}
.terminos h2{color:#fff;font-weight:bold;font-size:14px;padding:.5px .5px;font-family:"pollapp_font"}
.terminos p{color:#fff;font-size:10px;font-family:"pollapp_font";padding:2px 5px}
.terminos li{color:#fff;font-size:10px;font-family:"pollapp_font";padding:5px 10px}
