morado = #2B1B4B
amarillo_osc = #E1B800
amarillo_cla = #FFDD00
azul_osc = #3C599F
azul_cla = #00ACED
rojo = #CC3333
amarillo = #FFEC00

@font-face {
    font-family: "pollapp_font";
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}
h1
	text-align center
	color #FFFFFF
	font-weight bold
	font-size 17px
	font-family "pollapp_font"

.terminos
	height 65%
	overflow-y scroll
	padding 0.5em
	h2
		color #FFFFFF
		font-weight bold
		font-size 14px
		padding 0.5px 0.5px
		font-family "pollapp_font"
	p 
		color #FFFFFF
		font-size 10px
		font-family "pollapp_font"
		padding 2px 5px
	li
		color #FFFFFF
		font-size 10px
		font-family "pollapp_font"
		padding 5px 10px	