morado = #2B1B4B
amarillo_osc = #E1B800
amarillo_cla = #FFDD00
azul_osc = #3C599F
azul_cla = #00ACED
rojo = #CC3333
amarillo = #FFEC00

body
	#carousel
		width 100px
		overflow hidden

		ul
			width 100%
			padding 0
			margin 0

			li
				width 100px
				text-align center
				height 100px
				list-style none
				float left				
