morado = #2B1B4B
azul_cla = #00ACED

body
	width 100%
	height 100%
	background-image url('../img/fondos/480x800-android-chicapollapp.png')
	
	section
		height 70%
		padding 0 0 1em 0

		.votacion

			.copas
				padding 0.3em 0 0 0
				text-align center				

				a
					text-decoration none		
						

				img
					height 2em
					width 2em

				.votar

					.imgVotar
						height 2em
						padding 0 0 0 2em
						width 4em
							
			.divNumVotos				
					padding 0 0 0 3em

				.numVotosChica					
					font-weight bold
					color morado
					background azul_cla					